<!DOCTYPE html>
<html lang="<%= item.lang %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= item.word %> - Tangocho</title>
        <link rel="stylesheet" href="/assets/css/index.css" />
        <script src="/assets/js/index.js" type="module"></script>
    </head>
    <body>
        <h1><%= item.word %></h1>

        <% if (item.labels.length) { %>
        <ul>
            <% item.labels.forEach(label => { %>
            <li>(<%= label %>)</li>
            <% }); %>
        </ul>
        <% } %>
        <!---->

        <% if (item.translations.length) { %>
        <ul>
            <% item.translations.forEach(translation => { %>
            <li>
                <span><%= translation.lang %>:</span>
                <a
                    href="/words/<%= translation.id %>"
                    lang="<%= translation.lang %>"
                >
                    <%= translation.word %>
                </a>
            </li>
            <% }); %>
        </ul>
        <% } %>

        <dl>
            <dt>Type:</dt>
            <dd><%= item.type %></dd>
            <% if (item.sentences.length) { %>
            <dt>Examples:</dt>
            <dd>
                <ul>
                    <% item.sentences.forEach(sentence => { %>
                    <li><%= sentence %></li>
                    <% }); %>
                </ul>
            </dd>
            <% } %>
        </dl>

        <% if (item.concepts.length) { %>
        <h2>Related</h2>
        <ul>
            <% item.concepts.forEach(concept => { %>
            <li>
                <% if (concept.parent === item.id) { %>
                <h3><%= concept.name %></h3>
                <ul>
                    <% concept.related.forEach(relatedItem => { %>
                    <!---->
                    <% if (item.id !== relatedItem.id) { %>
                    <li>
                        <a href="/words/<%= relatedItem.id %>">
                            <%= relatedItem.word %>
                        </a>
                    </li>
                    <% } %>
                    <!---->
                    <% }); %>
                </ul>
                <% } else { %>
                <a href="/words/concept/<%= concept.id %>">
                    <%= concept.name %>
                </a>
                <% } %>
            </li>
            <% }); %>
        </ul>
        <!---->
        <% } %>
    </body>
</html>
