<div>
    <a href="/words/<%= item.id %>"><%= item.word %></a>

    <ul>
        <% item.labels.forEach(label => { %>
        <li>(<%= label %>)</li>
        <% }); %>
    </ul>

    <div>
        <% item.translations.forEach(item => { %>
        <details>
            <summary><%= item.lang %>:</summary>
            <a href="/words/<%= item.id %>" lang="<%= item.lang %>">
                <%= item.word %>
            </a>
        </details>
        <% }); %>
    </div>
</div>
